doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/a47f04849a2eed8ebf00e855b4fcfa0b.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        block content
        script(src="/js/jquery.min.js")
        script(src="/js/index.js")
